body {
  font-family: "Poppins", Arial, sans-serif;
}

.topper .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(255,255,255,0.2);
  color: #fff;
}

.topper .text {
  color: #c2b1b1;
  font-size: 13px;
}

.nav-link {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 20px;
}
     
.bg-primary{
  background: #82ae46;
}

.ftco_navbar{
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.ftco_navbar .nav-link{
  color: #000;
  transition: color 0.3s ease;
}

.ftco_navbar .nav-item.active .nav-link,
.ftco_navbar .nav-link:hover{
  color: #82ae46;
}

.ftco_navbar .navbar-brand{
  color: #82ae46;
  font-size: 25px;
  font-weight: 700;
  transition: color 0.3s ease;
}

.ftco_navbar .navbar-brand:hover{
  color: #000;
}


.dropdown-menu .dropdown-item:hover{
  background-color: #82ae46;
  color: #fff;
}

.cta-colored a{
  color: #82ae46;
}
.carousel-item{
  min-height: 100vh;
}

.hero{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.hero-bg-1{
  background-image: url("https://images.unsplash.com/photo-1542838132-92c53300491e?w=1920");
  background-size: cover;
  background-position: center;
}

.hero-bg-2{
  background-image: url("https://images.unsplash.com/photo-1512621776951-a57141f2eefd?w=1920");
  background-size: cover;
  background-position: center;
}

.hero-overlay{
  position: absolute;
  z-index: 1;
}

#heroCarousel,
#heroCarousel .carousel-inner,
#heroCarousel .carousel-item{
  height: 100vh;
}

.hero{
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.hero-content{
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  animation: textUp 1.2s ease forwards;
}

.hero-content p{
  color: #fff !important;
   line-height: 1.2; 
}

.hero-btn{
  display: inline-block;
  padding: 12px 35px;
  border-radius: 30px;
  border: 2px solid #82ae46;
  color: #fff;
  background: #82ae46;
  text-decoration: none;
  transition: all 0.3s ease;
  animation: btnZoom 1.3s ease;
}

.hero-btn:hover{
  background: transparent;
  color: #eff1eb;
}

@keyframes textUp{
  from{
    opacity: 0;
    transform: translateY(40px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes btnZoom{
  from{
    opacity: 0;
    transform: scale(0.8);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn{
  from{opacity:0;}
  to{opacity:1;}
}


.service-box{
  background:#fff;
  padding:40px 20px;
  border-radius:8px;
  transition:all 0.35s ease;
  filter: grayscale(100%);   
}

.service-box:hover{
  transform: translateY(-10px);
  box-shadow:0 15px 35px rgba(0,0,0,0.12);
  filter: grayscale(0%);    
}

.service-icon{
  width:80px;
  height:80px;
  margin:0 auto 20px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:34px;
  color:#fff;
  transition:all 0.35s ease;
}

.bg-1{ background:#82ae46; }
.bg-2{ background:#a8917f; }
.bg-3{ background:#2a9d8f; }
.bg-4{ background:#e76f51; }

    .category-section{background:#f7f6f2;}

    .category-box{
      height:260px;
      background-size:cover;
      background-position:center;
      position:relative;
      display:flex;
      align-items:flex-end;
      overflow:hidden;
      border-radius:6px;
      transition:all .35s ease;
    }
    .category-box:hover{
      transform:translateY(-6px);
      box-shadow:0 15px 35px rgba(0,0,0,.15);
    }
    .category-box::after{
      content:'';
      position:absolute;
      inset:0;
      background:rgba(0,0,0,.2);
      transition:.35s;
    }
    .category-box:hover::after{
      background:rgba(0,0,0,.4);
    }

    .category-label{
      background:#82ae46;
      color:#fff;
      padding:6px 16px;
      margin:15px;
      border-radius:4px;
      font-weight:600;
      z-index:2;
    }

     .category-large{
      min-height:540px;
      align-items:flex-start;
      justify-content:center;
      padding-top:60px;
      background-image:url('https://images.unsplash.com/photo-1478144592103-25e218a04891?w=600');
    }

    .category-content{
      position:relative;
      z-index:2;
      color:#ffffff;
      text-align:center;
    }
    .category-content h2{font-size:34px;font-weight:700;
    color: white;}
    .category-content p{font-size:16px;}

    .category-content .btn{
      background:#82ae46;
      border:none;
      font-size: large;
      transition:.3s;
    } 
     

    .category-content .btn:hover{
      background:transparent;
      color:#e6e7e4;
      border:2px solid #82ae46;
    }

    @media (max-width: 768px){
      .category-large{min-height:380px;padding-top:40px;}
    }
  


.ftco-section{
  padding:80px 0;
}
/* Section Heading */
.subheading{
  display: inline-block;
  color: #82ae46;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.row h2{
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}

.row p{
  font-size: 16px;
  color: #808080;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.7;
}
.product-card{
  background:#fff;
  border-radius:6px;
  overflow:hidden;
  transition:.3s;
}

.product-card:hover{
  box-shadow:0 15px 35px rgba(0,0,0,.15);
  transform:translateY(-6px);
}

.product-img{
  position:relative;
  overflow:hidden;
}

.product-img img{
  transition:.4s;
}

.product-card:hover img{
  transform:scale(1.08);
}

.badge-sale{
  position:absolute;
  top:15px;
  left:15px;
  background:#82ae46;
  color:#fff;
  padding:4px 10px;
  font-size:13px;
  border-radius:4px;
  z-index:2;
}

.product-actions{
  position:absolute;
  bottom:-60px;
  left:0;
  right:0;
  display:flex;
  justify-content:center;
  gap:10px;
  transition:.3s;
}

.product-card:hover .product-actions{
  bottom:20px;
}

.product-actions a{
  width:42px;
  height:42px;
  background:#82ae46;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  transition:.3s;
}

.product-actions a:hover{
  background:#6f9e3d;
}

.product-info{
  padding:15px;
}

.product-info h3{
  font-size:16px;
  font-weight:600;
}

.price{
  margin:0;
}

.price .old{
  text-decoration:line-through;
  color:#999;
  margin-right:6px;
}

.price .new{
  color:#82ae46;
  font-weight:600;
}

.deal-section{
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
}

.deal-section::before{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.4);
}

.deal-section .container{
  position: relative;
  z-index: 2;
}

.subheading{
  color:#82ae46;
  font-weight:600;
}

.price span{
  color:#82ae46;
  font-weight:600;
}


.deal-bg-section{
  background-image: url("https://images.unsplash.com/photo-1643142232119-365fd82a4428?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHZlZ2V0YWJsZXMlMjBibGFjayUyMGJhY2slMjBncm91bmR8ZW58MHx8MHx8fDA%3D");
  background-size: cover;           
  background-position: center;      
  background-repeat: no-repeat;
  min-height: 520px;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
}


.deal-bg-section .container{
  position: relative;
  z-index: 2;
}

.deal-bg-section h2{
  font-size: 42px;
  transition: color 0.3s ease;
}

.deal-bg-section h4{
  font-size: 24px;
  color: white;
}

.deal-bg-section:hover h2{
  color: #ffffff;
}


.deal-bg-section p{
  color: #f0e8e8;
  font-size: 18px;
  line-height: 1.7;
}


.deal-bg-section .text-success{
  color: #82ae46 ;
}

.deal-bg-section .d-flex > div{
  padding: 12px 18px;
  border: 1px solid #82ae46;
  border-radius: 8px;
  transition: all 0.35s ease;
  cursor: pointer;
}

.deal-bg-section .d-flex > div:hover{
  background-color: #82ae46;
  transform: translateY(-5px);
}

.deal-bg-section .d-flex > div:hover h5,
.deal-bg-section .d-flex > div:hover small{
  color: #f7f3f3 ;
}

.deal-bg-section h5{
  font-size: 22px;
  font-weight: 600;
}

.deal-bg-section small{
  color: #555;
}


.testimony-section {
  background: #f8f9fa;
}

.subheading {
  color: #82ae46;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.testimony-wrap {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  height: 100%;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}


.testimony-wrap:hover {
  transform: translateY(-12px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.user-img {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease;
}

.testimony-wrap:hover .user-img {
  transform: scale(1.1) rotate(2deg);
}

.testimony-wrap p {
  transition: color 0.3s ease;
}

.testimony-wrap:hover p {
  color: #555;
}

.name {
  font-weight: 700;
  margin-bottom: 0;
  transition: color 0.3s ease;
}

.testimony-wrap:hover .name {
  color: #0d0e0d;
}

.position {
  font-size: 14px;
  color: #82ae46;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.testimony-wrap {
  animation: fadeUp 0.8s ease both;
}

.five-dots{
  display:flex;
  gap:8px;
  justify-content:center;
  align-items:center;
  margin-top:20px;
}

.five-dots i{
  font-size:8px;
  color:#82ae46;
  transition:transform .3s ease, opacity .3s ease;
}

.five-dots:hover i{
  transform:translateY(-4px);
  opacity:.7;
}


.five-dots i{
  animation:pulse 1.5s infinite ease-in-out;
}
.five-dots i:nth-child(2){animation-delay:.1s}
.five-dots i:nth-child(3){animation-delay:.2s}
.five-dots i:nth-child(4){animation-delay:.3s}
.five-dots i:nth-child(5){animation-delay:.4s}

@keyframes pulse{
  0%,100%{transform:scale(1);opacity:.6}
  50%{transform:scale(1.6);opacity:1}
}


.brands-section {
  background: #f5f5f5;   /* gray background */
  padding: 40px 0;
}

.partner-logo {
  display: block;
  padding: 20px;
  transition: 0.3s;
}

.partner-logo i {
  font-size: 50px;   
  color: black;    
  opacity: 0.7;
  transition: 0.3s;
}

.partner-logo:hover i {
  opacity: 1;
  transform: scale(1.2);
}


.newsletter input.form-control{
  height: 55px;
  font-size: 16px;
  padding: 0 16px;
  border: 2px solid #28a745;
}


.newsletter button{
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 28px;
}

.newsletter input:focus{
  box-shadow: none;
  border-color: #1e7e34;
}

.ftco-footer{
  background:#fff;
  color:#111;
  padding:80px 0;

}

.ftco-footer a{
  color:#111;
  text-decoration:none;
}

.ftco-footer a:hover{
  color:#82ae46;
}

.footer-title{
  font-weight:700;
  margin-bottom:15px;
}
.ftco-footer ul li{
  margin-bottom:8px;
}
.ftco-footer p,
.ftco-footer li {
  line-height: 1.8;   
}

.footer-social{
  margin-top: 25px;
  font-size: 20px;
}

.footer-social a{
  display: inline-block;
  margin-right: 12px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-social a:hover{
  transform: translateY(-4px);
}

.back-to-top{
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background: #82ae46;
   color: #fff;    

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transform: translateX(-50%);
  animation: floatUp 2s ease-in-out infinite;
}
.back-to-top i{
  font-size: 22px;
  transition: transform 0.3s ease;
}

.back-to-top:hover i{
  transform: translateY(-5px);
}

@keyframes floatUp{
  0%{
    transform: translateX(-50%) translateY(0);
  }
  50%{
    transform: translateX(-50%) translateY(-10px);
  }
  100%{
    transform: translateX(-50%) translateY(0);
  }
}
.fa-heart{
  animation: pulse 1.5s infinite;
}

@keyframes pulse{
  0%{ transform: scale(1); }
  50%{ transform: scale(1.2); }
  100%{ transform: scale(1); }
}

